body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .header {
    height: 100vh; /* 100% de la altura de la ventana */
    background-color: #333; /* Fondo oscuro si la imagen no carga o tarda en cargar */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que la imagen cubra completamente el contenedor sin distorsionarse */
  }
  
.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.logo {
  float: left;
  font-size: 1.5em;
  margin-top: 10px;
  color: #fff;
}

.search {
  float: right;
  line-height: 80px;
  position: relative; /* Agregamos posición relativa para posicionar el botón */
}
